@import'setup';
@import'typography';
@import'mixins';

body{
    background-color: black;
    text-transform: uppercase;
    font-family: 'valera round';
    font-weight: 700; 
}

.background{
    background-image: url('../assets/bgOne.jpg');
    background-size:100%;
    // background-repeat: no-repeat;
}

.headerContainer{
    display:flex;
    justify-content: center;
}

.wrapper{
    max-width: 1350px;
    width: 90%;
    margin: 0 auto;
}

.mainContainer{
    display:flex;
    flex-direction: column;
    &>div{
        margin-bottom:6%;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

input[type='text'],
.options,
button{
    background-image: url('../assets/foamLight.jpg');
    border-radius: 5px;
}

input[type='text']{
    border: 10px solid transparent;
    width:400px;
    padding:15px;
    text-align: center;
    font-weight: bolder;
    text-transform: uppercase;
    transition: 400ms ease-in;
}

input[type='text']:hover,
input[type='text']:focus,
#foodOption:hover,
#foodOption:focus{
    border:goldenrod 10px solid;
}

.options{
    display:flex;
    justify-content: space-around;
    padding: 15px;
    width: 600px;
    label{
        display:flex;
        align-items: center;
    }
    input[type=radio]{
        margin-right:10px;
    }
}

button{
    border:none;
    padding: 15px;
    margin-bottom:10%;
    font-weight: bolder;
    text-transform: uppercase;
    border: 10px solid transparent;
    width:400px;
    transition: 400ms ease-in;
}

.asideContainer{
    background-image: url('../assets/foamLight.jpg');
    padding:20px;
    border-radius: 10px;
    line-height: 25px;
    margin-bottom:20px;
    display:flex;
    flex-wrap: wrap;
}

.beerContainer{
    display:flex;
    justify-content: space-between;
    min-width: 50%;
    margin:20px 0;
}

.beerFrame,
.beerFrame2{
    min-width:50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.beerFrame{
    // min-width: 450px;
    border-bottom:10px solid goldenrod;
    background-color: rgba(255, 255, 255, 0.7);
    padding:10px;
    border-radius: 10px;
}

.beerFrame2{
    align-items: flex-end;
    // min-width: 450px;
    img{
        max-width:300px;
        margin-bottom:10px;
    }
}

.beerName{
    font-size: 2rem;
    padding:10px;
    line-height: 40px;
}

.beerDescription,
.beerFood{
    font-size:1rem;
    font-family: 'varela round';
}

.beerImage{
    width:100px;
    height: 300px;
}